/bin/
/.classpath
/.gradle
/.project
/.settings
/config
/.DS_Store
/eula.txt
/logs
/server.properties
/Levels_Client.launch
/Levels_Server.launch
/.gitignore
/run
/saves
/usercache.json
/usernamecache.json
/options.txt
/crash-reports
/build/classes
/build/sources
/build/tmp
/build/resources
/build/dependency-cache
/build/retromapping
/build/taskLogs
/libs
/Levels 2 experimental.launch
/Levels 2 (1.11)_Server.launch
/Levels 2 hotfix.launch
/Levels 2 hotfix Server.launch