/bin/
/.classpath
/.gradle
/.project
/.settings
/build.gradle
/gradle
/gradlew
/gradlew.bat
/config
/eula.txt
/logs
/server.properties
/Levels_Client.launch
/Levels_Server.launch
/.gitignore
/build
/run